.idea/
.gradle/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
TMessagesProj/src/main/res/values/strings_buildvars.xml
